.headerContainer {
    background-color: snow;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}
h2{
    color: #282c34;
    display: inline-block;
    margin-left: 10px;
    align-items: center;
}

.about {
    margin-top: 10px;
    font-size: 15px;
    margin-left: 10px;
}
h3{
    display: inline-block;
    color: darkblue;
}

