.container {
    background-color: snow;
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}
.textField{
    font-size: 18px;
    padding: 0 45px;
}