h1{
    font-size: 85px;
}
.searchBar{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.searchBar form{
    min-width: 200px;
    width: 80%;
    display: flex;
}
.searchBar input{
    height: 30px;
    min-width: 200px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #282c34;
    padding: 5px;
}
.searchBar button{
    float: right;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 55px;
        margin: 15px 0;
    }
    .searchBar form{
        width: 100%;
    }
}