.result{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.artistCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin: 15px;
}
.artistCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
    border-radius: 5px 5px 0 0;
}
.artistDescription {
    padding: 2px 16px;
}
.artistDescription h3 {
    color: #282c34;
    font-size: 16px;
    margin-bottom: 0;
}

.albumCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px;
    margin: 15px;
    height: 430px;
}
.albumCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.albumDescription {
    margin: 15px;
    font-size: 13px;
}


@media only screen and (max-width: 600px) {
    .artistCard {
        width: 100%;
    }
    .albumCard{
        width: 40%;
        height: 310px;
    }
}